<div class="container py-5" style="margin-top: 3rem;">
  <header class="text-center">
    <h1 class="display-4">Yazılım Grubu Dersleri</h1>
  </header>

  <div class="row">
    <div class="col-lg-11 mx-auto">

      <div class="row py-5">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img
              src="assets/images/img2.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img
            src="assets/images/img3.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Python</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
          </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img
            src="assets/images/img7.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">JavaScript</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
          </div>
        </div>
        </div>

        <div style="margin-top: 5rem;">
        <h1 class="display-4 text-center">Tasarım Grubu Dersleri</h1>
        <div class="row py-5">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img
                src="assets/images/img4.jpg"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Photoshop</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img
              src="assets/images/img6.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">3D Animasyon</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
            </div>
          </div>
          </div>
  
          <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img
              src="assets/images/img5.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">After Effects</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
            </div>
          </div>
          </div>
        </div>

      </div>
      <div class="separator my-3"></div>       