<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/images/img1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Ücretsiz Online Eğitim Kursları</h1>
      <p class="lead">İlk adımı bizimle atarak öğrenin. Yetkinliklerinizi geliştirerek hemen şimdi sizde ders ekleyebilirsiniz.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          src="assets/images/img2.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">
            Angular Google destekli, modüler yapısıyla popüler bir frameworktür.
          </p>
          <a href="egitimler" class="btn btn-outline-primary">Devamı</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="assets/images/img3.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text">
            Python öğrenebileceğiniz en önemli becerilerden biridir.
          </p>
          <a href="egitimler" class="btn btn-outline-primary">Devamı</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="assets/images/img4.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Photoshop</h5>
          <p class="card-text">
            Photoshop ile tasarımızlarınızı yapıp fotoğaflarınızı düzenleyin.
          </p>
          <a href="egitimler" class="btn btn-outline-primary">Devamı</a>
        </div>
      </div>
    </div>
  </div>
</div>
