<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #15111d;">
    <div class="container">
      <a class="navbar-brand" href="">Eğitim Portalı</a>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="egitimler">Eğitimler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="ders">Ders Ekle</a>
          </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
          <a href="adminpanel" class="btn btn-outline-danger me-2" role="button" *ngIf="fbService.OturumKontrol()">Admin Paneli</a>
          <a href="login" class="btn btn-outline-light me-2" role="button" *ngIf="!fbService.OturumKontrol()">Giriş</a>
          <a href="signup" class="btn btn-outline-light" role="button" *ngIf="!fbService.OturumKontrol()">Kayıt ol</a>
          <button class="btn btn-outline-danger" (click)="OturumKapat()" *ngIf="fbService.OturumKontrol()">Oturumu Kapat</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
  </div>
  <footer>
    <div style="background-color:#15111d;" class="footer fixed-bottom mt-auto py-3 text-white">
    <div class="container text-center">
      <small>Copyright &copy; Metin Mert Hot</small>
    </div>
</div>
  </footer>
  